html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Seccion del header */
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 60px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
header nav {
    display: flex;
    justify-content: flex-end;
    height: inherit;
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png"); /* Propiedas donde se pone la URL de la imagen con url() */
    background-repeat: no-repeat; /* Propiedad para que no se repita la imagen */
    background-position: center; /* Propiedad para posicionar el icono */
    background-size: contain; /* Con esta propiedad lo que se hará es que el icono estará del tamaño de su contenedor */
    width: 25px;
    height: 25px;
}

nav .nav-right-section .menu-icon:hover {
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}
nav .nav-right-section img:hover {
    box-shadow: 20px 20px 20px 20px rgba(60,64,67,.08);
}
/* Seccion del main */
main {
    margin-top: 125px;
    text-align: center;
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 300px;
}
main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 2px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 450px;
    height: 35px;
    border: none;
    outline: none; /* quita el borde azul que aparece con el input */
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    padding-right: 13px;
}
main .main-input .micro-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    color: #202124;
}
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    background-color: #f2f2f2;
}
footer .footer-up {
    height: 46px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    padding-left: 20px;
}
footer .footer-down {
    height: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    padding-left: 20px;
    padding-right: 20px;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368;
}
footer div span {
    color: #5f6368;
}